.settings .nav {
  border: 1px solid #eee; 
  border-radius: 10px;
}

.settings .content {
  padding: 0px 50px 0 50px;
}

.settings .nav a {
  font-size: 1.1em;
  width: 100%;
  padding: 15px 0 15px 15px;
}

.settings .nav a:visited {
  color: #63caff;
}


.settings .nav a:not(:last-child) {
  border-bottom: 1px solid #eee;
}